<ion-header>
  <ion-navbar>
    <ion-title>
      Pendientes
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-card *ngFor="let lista of _listaDeseos.listas">

      <ion-card-header>
        {{lista.nombre}}
      </ion-card-header>

      <!-- Items -->
      <ion-card-content>
        
       <ion-list>
        <ion-item  *ngFor="let item of lista.items">
          <ion-icon ios="ios-checkbox-outline" md="md-checkbox-outline"></ion-icon>
          {{ item.nombre }}
        </ion-item>


       </ion-list>

      </ion-card-content>

    </ion-card> 

    <ion-fab right bottom>
    <button (click)="irAgregar()"
          ion-fab color="primary">
         <ion-icon ios="ios-add" md="md-add"></ion-icon>
    </button>
  </ion-fab>    

</ion-content>
