<ion-header>
  <ion-navbar>
    <ion-title>
      Pendientes
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-card *ngFor="let lista of _listaDeseos.listas; let i = index">

      <ion-card-header (click)="verDetalle( lista, i )">
        <ion-item color="dark">
          {{lista.nombre}}
        </ion-item>
      </ion-card-header>

      <!-- Items -->
      <ion-card-content>
        
       <ion-list>
        <ion-item  (click)="verDetalle( lista, i )"  
            *ngFor="let item of lista.items; let i = index">
          <ion-icon item-left *ngIf="!item.completado" name="square-outline"></ion-icon>
          <ion-icon item-left *ngIf="item.completado" ios="ios-checkbox-outline" md="md-checkbox-outline"></ion-icon>
          <h2 [class.tachado]="item.completado">{{ item.nombre }} </h2>
        </ion-item>


       </ion-list>

      </ion-card-content>

    </ion-card> 

    <ion-fab right bottom>
    <button (click)="irAgregar()" ion-fab color="primary">
         <ion-icon ios="ios-add" md="md-add"></ion-icon>
    </button>
  </ion-fab>    

</ion-content>
